In [1]:
import pandas as pd

In [2]:
# Importing datasets

immi = pd.read_csv("./immigrants-by-nationality.csv")
immi = immi[["Dist", "Nbh", "Nationality", "Number"]]
immi_dist = immi.copy() 

mort = pd.read_excel("./mortality_rate.xlsx")

rent = pd.read_excel("./rental_price.xlsx")

crime = pd.read_excel("./crime.xlsx")

In [3]:
# Adding immigrants from any Country, by Nbh
immi_dist = immi1.groupby(["Nbh","Dist"]).Number.sum().reset_index()
immi_dist

                              Nbh                 Dist  Number
0                   Baró de Viver          Sant Andreu      92
1                        Can Baró       Horta-Guinardó     473
2                     Can Peguera           Nou Barris      57
3                       Canyelles           Nou Barris     140
4                Ciutat Meridiana           Nou Barris     838
..                            ...                  ...     ...
69  la Vila Olímpica del Poblenou           Sant Martí     410
70              la Vila de Gràcia               Gràcia    3587
71                      les Corts            Les Corts    2276
72                   les Roquetes           Nou Barris     920
73                les Tres Torres  Sarrià-Sant Gervasi     702

[74 rows x 3 columns]

In [4]:
# Nbh, Dist, num_immi, num_crimes

immi_dist_crime = pd.merge(immi1, crime, how="left", on="Dist")
immi1_crime

                              Nbh                 Dist  Number num_crimes
0                   Baró de Viver          Sant Andreu      92   10.657
1                        Can Baró       Horta-Guinardó     473    7.871
2                     Can Peguera           Nou Barris      57    8.627
3                       Canyelles           Nou Barris     140    8.627
4                Ciutat Meridiana           Nou Barris     838    8.627
..                            ...                  ...     ...        ...
69  la Vila Olímpica del Poblenou           Sant Martí     410   22.417
70              la Vila de Gràcia               Gràcia    3587    7.731
71                      les Corts            Les Corts    2276    7.444
72                   les Roquetes           Nou Barris     920    8.627
73                les Tres Torres  Sarrià-Sant Gervasi     702    9.252

[74 rows x 4 columns]

NameError: name 'crime' is not defined

In [13]:
#Nbh, Dist, num_immi, rent_price
immi1_rent = pd.merge(immi1, rent, how="left", on=["Nbh","Dist"])
immi1_rent

                              Nbh                 Dist  Number rent_price
0                   Baró de Viver          Sant Andreu      92       n.d.
1                        Can Baró       Horta-Guinardó     473      2.859
2                     Can Peguera           Nou Barris      57        NaN
3                       Canyelles           Nou Barris     140        NaN
4                Ciutat Meridiana           Nou Barris     838      1.498
..                            ...                  ...     ...        ...
69  la Vila Olímpica del Poblenou           Sant Martí     410      5.402
70              la Vila de Gràcia               Gràcia    3587      4.426
71                      les Corts            Les Corts    2276      4.821
72                   les Roquetes           Nou Barris     920      1.885
73                les Tres Torres  Sarrià-Sant Gervasi     702      5.689

[74 rows x 4 columns]

In [25]:
immi1_rent_crime = pd.merge(immi1_rent, immi1_crime, how="left", on=["Nbh", "Dist", "Number"])
immi1_rent_crime

,Nbh,Dist,Number,rent_price,num_crimes
0,Baró de Viver,Sant Andreu,92,n.d.,10.657
1,Can Baró,Horta-Guinardó,473,2.859,7.871
2,Can Peguera,Nou Barris,57,NaN,8.627
3,Canyelles,Nou Barris,140,NaN,8.627
4,Ciutat Meridiana,Nou Barris,838,1.498,8.627
...,...,...,...,...,...
69,la Vila Olímpica del Poblenou,Sant Martí,410,5.402,22.417
70,la Vila de Gràcia,Gràcia,3587,4.426,7.731
71,les Corts,Les Corts,2276,4.821,7.444
72,les Roquetes,Nou Barris,920,1.885,8.627
73,les Tres Torres,Sarrià-Sant Gervasi,702,5.689,9.252

In [28]:
immi1_rent_crime.columns = ['Nbh', 'Dist', 'num_immi', 'rent_price', 'num_crimes']
immi1_rent_crime

,Nbh,Dist,num_immi,rent_price,num_crimes
0,Baró de Viver,Sant Andreu,92,n.d.,10.657
1,Can Baró,Horta-Guinardó,473,2.859,7.871
2,Can Peguera,Nou Barris,57,NaN,8.627
3,Canyelles,Nou Barris,140,NaN,8.627
4,Ciutat Meridiana,Nou Barris,838,1.498,8.627
...,...,...,...,...,...
69,la Vila Olímpica del Poblenou,Sant Martí,410,5.402,22.417
70,la Vila de Gràcia,Gràcia,3587,4.426,7.731
71,les Corts,Les Corts,2276,4.821,7.444
72,les Roquetes,Nou Barris,920,1.885,8.627
73,les Tres Torres,Sarrià-Sant Gervasi,702,5.689,9.252