# Data filtering

In [22]:
import pandas as pd
import numpy as np

In [10]:
#import the datasets from which we need to obtain the info and summarize

children=pd.read_csv("../datasets/unfiltered/Children_spaces_bcn.csv")

cinema=pd.read_csv("../datasets/unfiltered/Cinemas_and_theatres_bcn.csv")

education=pd.read_csv("../datasets/unfiltered/Education_centers_children_bcn.csv")

educationkids=pd.read_csv("../datasets/unfiltered/Educative_centers_bcn.csv")

hospital=pd.read_csv("../datasets/unfiltered/Hospitals_bcn.csv")

library=pd.read_csv("../datasets/unfiltered/Library_and_museums_bcn.csv")

bars=pd.read_csv("../datasets/unfiltered/Music_and_drinks_venues_bcn.csv")

park=pd.read_csv("../datasets/unfiltered/Parks_and_gardens_bcn.csv")

sport=pd.read_csv("../datasets/unfiltered/Sport_facilities_centers.csv")

In [11]:
#Quick look it they uploaded ok

children.head()
hospital.tail()

#all good and with no index

,CODI_EQUIPAMENT,EQUIPAMENT,SECCIO,TIPUS_VIA,NOM_CARRER,NUM_CARRER_1,NUM_CARRER_2,CODI_BARRI,NUM_BARRI,CODI_DISTRICTE,...,TELEFON_NUM,TELEFON_TIPUS,TELEFON_INFO_COM,HORARI_PERIODE_INICI,HORARI_PERIODE_FI,HORARI_DIES,HORARI_HORES_INICI,HORARI_HORES_FI,HORARI_OBSERVACIONS,Unnamed: 29
394,99400593384,Hospital Plató,Centre d'Urgències d'Atenció Primària,C,Plató,21,21.0,26,Sant Gervasi - Galvany,5,...,933069900,Centraleta,NaN,01/01,31/12,0.0,00:00:00,23:59:00,,NaN
395,99400593385,Hospital Universitari del Sagrat Cor,Centre d'Urgències d'Atenció Primària,C,Viladomat,288,288.0,9,la Nova Esquerra de l'Eixample,2,...,933221111,Centraleta,NaN,01/01,31/12,0.0,00:00:00,23:59:00,,NaN
396,99400607886,Clínica Podològica Integral,#,Pg,Zona Franca,242,242.0,13,la Marina de Port,3,...,606142924,Tel.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
397,99400632531,Centre d'Atenció Primària Roger,#,C,Roger,48,64.0,17,Sants - Badal,3,...,933268901,Tel.,Programació de visites,01/01,31/12,11.0,08:00:00,20:00:00,Fora d'aquest horari truqueu al 061<br>o CUAP ...,NaN
398,99400632531,Centre d'Atenció Primària Roger,#,C,Roger,48,64.0,17,Sants - Badal,3,...,934310039,Centraleta,NaN,01/01,31/12,11.0,08:00:00,20:00:00,Fora d'aquest horari truqueu al 061<br>o CUAP ...,NaN

In [ ]:
#necessary to obtain the times that each neighbourhood appears (variable "NUM_BARRI")
#and save it

In [77]:
#to get a frequency table

COUNT=children.groupby("NUM_BARRI").size()

In [78]:
COUNT

NUM_BARRI
Baró de Viver                     8
Can Baró                          6
Can Peguera                       4
Canyelles                         4
Ciutat Meridiana                 14
                                 ..
la Vila Olímpica del Poblenou     8
la Vila de Gràcia                20
les Corts                        24
les Roquetes                     12
les Tres Torres                  10
Length: 72, dtype: int64

In [91]:
COUNT.to_csv("Count.csv")

In [101]:
count=pd.read_csv("Count.csv")
count

                        NUM_BARRI   0
0                   Baró de Viver   8
1                        Can Baró   6
2                     Can Peguera   4
3                       Canyelles   4
4                Ciutat Meridiana  14
..                            ...  ..
67  la Vila Olímpica del Poblenou   8
68              la Vila de Gràcia  20
69                      les Corts  24
70                   les Roquetes  12
71                les Tres Torres  10

[72 rows x 2 columns]

In [107]:
count2=count.rename(columns={"NUM_BARRI":"Nbh","0":"Children_places"})

In [109]:
count2.columns

Index(['Nbh', 'Children_places'], dtype='object')

In [110]:
count2.to_csv("../datasets/Data_filtered/Children_places.csv")

## Now we do the same with all the data sets

In [ ]:
#we already imported them before
cinema
education
educationkids
hospital
library  #there are empty values here 
bars
park #empty values here too
sport

In [119]:
#checking if the value exists for all of them, it does
#sport["NUM_BARRI"]

In [121]:
#step2: frequency table

cinema=cinema.groupby("NUM_BARRI").size()

education=education.groupby("NUM_BARRI").size()

educationkids=educationkids.groupby("NUM_BARRI").size()

hospital=hospital.groupby("NUM_BARRI").size()

library=library.groupby("NUM_BARRI").size()

bars=bars.groupby("NUM_BARRI").size()

park=park.groupby("NUM_BARRI").size()

sport=sport.groupby("NUM_BARRI").size()

In [122]:
#step3: saving the files as .csv

cinema.to_csv("../datasets/Data_filtered/cinema.csv")

education.to_csv("../datasets/Data_filtered/education.csv")

educationkids.to_csv("../datasets/Data_filtered/educationkids.csv")

hospital.to_csv("../datasets/Data_filtered/hospital.csv")

library.to_csv("../datasets/Data_filtered/library.csv")

bars.to_csv("../datasets/Data_filtered/bars.csv")

park.to_csv("../datasets/Data_filtered/park.csv")

sport.to_csv("../datasets/Data_filtered/sport.csv")

In [123]:
#importing them again

cinema=pd.read_csv("../datasets/Data_filtered/cinema.csv")

education=pd.read_csv("../datasets/Data_filtered/education.csv")

educationkids=pd.read_csv("../datasets/Data_filtered/educationkids.csv")

hospital=pd.read_csv("../datasets/Data_filtered/hospital.csv")

library=pd.read_csv("../datasets/Data_filtered/library.csv")

bars=pd.read_csv("../datasets/Data_filtered/bars.csv")

park=pd.read_csv("../datasets/Data_filtered/park.csv")

sport=pd.read_csv("../datasets/Data_filtered/sport.csv")

In [124]:
#renaming the columns

cinema=cinema.rename(columns={"NUM_BARRI":"Nbh","0":"Cinemas_Theatres"})

education=count.rename(columns={"NUM_BARRI":"Nbh","0":"Schools"})

educationkids=count.rename(columns={"NUM_BARRI":"Nbh","0":"Pre-Schools"})

hospital=count.rename(columns={"NUM_BARRI":"Nbh","0":"Hospitals"})

library=count.rename(columns={"NUM_BARRI":"Nbh","0":"Libraries_Theatres"})

bars=count.rename(columns={"NUM_BARRI":"Nbh","0":"Bars"})

park=count.rename(columns={"NUM_BARRI":"Nbh","0":"Park_Gardens"})

sport=count.rename(columns={"NUM_BARRI":"Nbh","0":"Sport_Centers"})

In [125]:
#saving the files again

cinema.to_csv("../datasets/Data_filtered/cinema.csv")

education.to_csv("../datasets/Data_filtered/education.csv")

educationkids.to_csv("../datasets/Data_filtered/educationkids.csv")

hospital.to_csv("../datasets/Data_filtered/hospital.csv")

library.to_csv("../datasets/Data_filtered/library.csv")

bars.to_csv("../datasets/Data_filtered/bars.csv")

park.to_csv("../datasets/Data_filtered/park.csv")

sport.to_csv("../datasets/Data_filtered/sport.csv")