# Data filtering

## Try outs to figure out what to do

In [3]:
import pandas as pd
import numpy as np

In [70]:
#import the datasets from which we need to obtain the info and summarize

children=pd.read_csv("../datasets/unfiltered/Children_spaces_bcn.csv")

cinema=pd.read_csv("../datasets/unfiltered/Cinemas_and_theatres_bcn.csv")

education=pd.read_csv("../datasets/unfiltered/Education_centers_children_bcn.csv")

educationkids=pd.read_csv("../datasets/unfiltered/Educative_centers_bcn.csv")

hospital=pd.read_csv("../datasets/unfiltered/Hospitals_bcn.csv")

library=pd.read_csv("../datasets/unfiltered/Library_and_museums_bcn.csv")

bars=pd.read_csv("../datasets/unfiltered/Music_and_drinks_venues_bcn.csv")

park=pd.read_csv("../datasets/unfiltered/Parks_and_gardens_bcn.csv")

sport=pd.read_csv("../datasets/unfiltered/Sport_facilities_centers.csv")

In [133]:
#Quick look it they uploaded ok

#children.head()
#hospital.tail(10)

#all good and with no index

In [ ]:
#necessary to obtain the times that each neighbourhood appears (variable "NUM_BARRI")
#and save it

In [15]:
#to get a frequency table

#COUNT=children.groupby("NUM_BARRI").size()

In [49]:
#test1=children.groupby("NUM_BARRI")["EQUIPAMENT"].size()

In [71]:
#test2=children.sort_values("EQUIPAMENT")

In [134]:
#test2["EQUIPAMENT"].value_counts()

In [80]:
#test3=children.drop_duplicates(subset ="EQUIPAMENT")

In [86]:
#test4=test3.reset_index(drop=True)

In [92]:
#test5=test4.groupby("NUM_BARRI")["EQUIPAMENT"].size()

In [94]:
#test5.to_csv("/Users/mireiaguinovart/Desktop/test5.csv")

In [107]:
#test6=test5.rename(columns={"NUM_BARRI":"Nbh","0":"Children_places"})

In [135]:
#test6.columns

In [110]:
#test6.to_csv("../datasets/Data_filtered/Children_places.csv")

## Now we do the same with all the data sets

In [125]:
# Step 1 import the datasets from which we need to obtain the info and summarize

children=pd.read_csv("../datasets/unfiltered/Children_spaces_bcn.csv")

cinema=pd.read_csv("../datasets/unfiltered/Cinemas_and_theatres_bcn.csv")

education=pd.read_csv("../datasets/unfiltered/Education_centers_children_bcn.csv")

educationkids=pd.read_csv("../datasets/unfiltered/Educative_centers_bcn.csv")

hospital=pd.read_csv("../datasets/unfiltered/Hospitals_bcn.csv")

library=pd.read_csv("../datasets/unfiltered/Library_and_museums_bcn.csv")

bars=pd.read_csv("../datasets/unfiltered/Music_and_drinks_venues_bcn.csv")

park=pd.read_csv("../datasets/unfiltered/Parks_and_gardens_bcn.csv")

sport=pd.read_csv("../datasets/unfiltered/Sport_facilities_centers.csv")

In [126]:
#sort by EQUIPAMENT-----children.sort_values("EQUIPAMENT",inplace=True)
#drop duplicates--------children.drop_duplicates(subset ="EQUIPAMENT",inplace=True)
#reset index------------children.reset_index(drop=True,inplace=True)
#groupby----------------children.groupby("NUM_BARRI")["EQUIPAMENT"].size()

In [127]:
#step 1: removing duplicates
def sorting (DF):
    DF.sort_values("EQUIPAMENT",inplace=True)
    DF.drop_duplicates(subset ="EQUIPAMENT",inplace=True)
    DF.reset_index(drop=True,inplace=True)
    
sorting(children)
sorting(cinema)
sorting(education)
sorting(educationkids)
sorting(hospital)
sorting(library)
sorting(bars)
sorting(park)
sorting(sport)

In [128]:
#step2: frequency table

children=children.groupby("NUM_BARRI").size()

cinema=cinema.groupby("NUM_BARRI").size()

education=education.groupby("NUM_BARRI").size()

educationkids=educationkids.groupby("NUM_BARRI").size()

hospital=hospital.groupby("NUM_BARRI").size()

library=library.groupby("NUM_BARRI").size()

bars=bars.groupby("NUM_BARRI").size()

park=park.groupby("NUM_BARRI").size()

sport=sport.groupby("NUM_BARRI").size()

In [129]:
#step3: saving the files as .csv

children.to_csv("../datasets/Data_filtered/children.csv")

cinema.to_csv("../datasets/Data_filtered/cinema.csv")

education.to_csv("../datasets/Data_filtered/education.csv")

educationkids.to_csv("../datasets/Data_filtered/educationkids.csv")

hospital.to_csv("../datasets/Data_filtered/hospital.csv")

library.to_csv("../datasets/Data_filtered/library.csv")

bars.to_csv("../datasets/Data_filtered/bars.csv")

park.to_csv("../datasets/Data_filtered/park.csv")

sport.to_csv("../datasets/Data_filtered/sport.csv")

In [130]:
#step4: importing them again

children=pd.read_csv("../datasets/Data_filtered/children.csv")

cinema=pd.read_csv("../datasets/Data_filtered/cinema.csv")

education=pd.read_csv("../datasets/Data_filtered/education.csv")

educationkids=pd.read_csv("../datasets/Data_filtered/educationkids.csv")

hospital=pd.read_csv("../datasets/Data_filtered/hospital.csv")

library=pd.read_csv("../datasets/Data_filtered/library.csv")

bars=pd.read_csv("../datasets/Data_filtered/bars.csv")

park=pd.read_csv("../datasets/Data_filtered/park.csv")

sport=pd.read_csv("../datasets/Data_filtered/sport.csv")

In [131]:
#step5:renaming the columns

children=children.rename(columns={"NUM_BARRI":"Nbh","0":"Children_places"})

cinema=cinema.rename(columns={"NUM_BARRI":"Nbh","0":"Cinemas_Theatres"})

education=education.rename(columns={"NUM_BARRI":"Nbh","0":"Schools"})

educationkids=educationkids.rename(columns={"NUM_BARRI":"Nbh","0":"Pre-Schools"})

hospital=hospital.rename(columns={"NUM_BARRI":"Nbh","0":"Hospitals"})

library=library.rename(columns={"NUM_BARRI":"Nbh","0":"Libraries_Theatres"})

bars=bars.rename(columns={"NUM_BARRI":"Nbh","0":"Bars"})

park=park.rename(columns={"NUM_BARRI":"Nbh","0":"Park_Gardens"})

sport=sport.rename(columns={"NUM_BARRI":"Nbh","0":"Sport_Centers"})

In [132]:
#step6:saving the files again

children.to_csv("../datasets/Data_filtered/children.csv")

cinema.to_csv("../datasets/Data_filtered/cinema.csv")

education.to_csv("../datasets/Data_filtered/education.csv")

educationkids.to_csv("../datasets/Data_filtered/educationkids.csv")

hospital.to_csv("../datasets/Data_filtered/hospital.csv")

library.to_csv("../datasets/Data_filtered/library.csv")

bars.to_csv("../datasets/Data_filtered/bars.csv")

park.to_csv("../datasets/Data_filtered/park.csv")

sport.to_csv("../datasets/Data_filtered/sport.csv")

## Let's filter what's left

In [126]:
#Step 1: import

population=pd.read_csv("../datasets/unfiltered/2017_densitat.csv")

rental=pd.read_csv("../datasets/unfiltered/2017_lloguer_preu_trim.csv")

tenants=pd.read_csv("../datasets/unfiltered/2017_ocupacio_mitjana_domicilis.csv")

In [ ]:
#Step 2: select the columns needed

population= population[["Nom_Barri","Població","Densitat neta (hab/ha)"]]

rental= rental[["Nom_Barri","Preu"]]

tenants=tenants[["Nom_Barri","Ocupacio_mitjana"]]

In [ ]:
#Step 3: rename

population=population.rename(columns={"Nom_Barri":"Nbh","Població":"Population","Densitat neta (hab/ha)":"Net_density(hab/ha)"})

rental.rename(columns={"Nom_Barri":"Nbh","Preu":"Rental_price(€)/month"})

tenants.rename(columns={"Nom_Barri":"Nbh","Ocupacio_mitjana":"Avg_hab_per_house"})

In [ ]:
#Step 4: safe the file

population.to_csv("../datasets/Data_filtered/population.csv")

rental.to_csv("../datasets/Data_filtered/rental.csv")

tenants.to_csv("../datasets/Data_filtered/tenants.csv")

In [136]:
#we want to keep:
#population (Població) and Densitat neta which is the number of habitans per habitable hectares(ha) residental surface
#population.head()

In [138]:
#select what I want

#population= population[["Nom_Barri","Població","Densitat neta (hab/ha)"]]

#population

In [162]:
#rename
population=population.rename(columns={"Nom_Barri":"Nbh","Població":"Population","Densitat neta (hab/ha)":"Net_density(hab/ha)"})

In [163]:
population

,Nbh,Population,Net_density(hab/ha)
0,el Raval,47608,959
1,el Barri Gòtic,16062,471
2,la Barceloneta,14996,1107
3,"Sant Pere, Santa Caterina i la Ribera",22721,700
4,el Fort Pienc,32016,959
...,...,...,...
68,Diagonal Mar i el Front Marítim del Poblenou,13629,592
69,el Besòs i el Maresme,23009,885
70,Provençals del Poblenou,20487,1490
71,Sant Martí de Provençals,26146,1116
72,la Verneda i la Pau,28691,716

In [164]:
#safe the file
population.to_csv("../datasets/Data_filtered/population.csv")

In [136]:
rental.head()  #Nom_Barri,Preu

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2017,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),734.99
1,2017,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),905.26
2,2017,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),722.78
3,2017,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),895.28
4,2017,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),871.08

In [137]:
rental= rental[["Nom_Barri","Preu"]]

In [142]:
rental.rename(columns={"Nom_Barri":"Nbh","Preu":"Rental_price(€)/month"})

                                              Nbh  Rental_price(€)/month
0                                        el Raval                 734.99
1                                  el Barri Gòtic                 905.26
2                                  la Barceloneta                 722.78
3           Sant Pere, Santa Caterina i la Ribera                 895.28
4                                   el Fort Pienc                 871.08
..                                            ...                    ...
579  Diagonal Mar i el Front Marítim del Poblenou                  16.51
580                         el Besòs i el Maresme                  10.40
581                       Provençals del Poblenou                  12.66
582                      Sant Martí de Provençals                  10.83
583                           la Verneda i la Pau                  10.38

[584 rows x 2 columns]

In [148]:
#safe the file
rental.to_csv("../datasets/Data_filtered/rental.csv")

In [149]:
tenants.head() #Nom_Barri,Ocupació_mitjana

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Poblacio,Nombre_domicilis,Ocupacio_mitjana
0,2017,1,Ciutat Vella,1,el Raval,47986,17090,2.8
1,2017,1,Ciutat Vella,2,el Barri Gòtic,16240,6537,2.5
2,2017,1,Ciutat Vella,3,la Barceloneta,15101,6911,2.2
3,2017,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22923,10154,2.3
4,2017,2,Eixample,5,el Fort Pienc,32048,12838,2.5

In [151]:
tenants=tenants[["Nom_Barri","Ocupacio_mitjana"]]

In [155]:
tenants.rename(columns={"Nom_Barri":"Nbh","Ocupacio_mitjana":"Avg_hab_per_house"})

                                             Nbh  Avg_hab_per_house
0                                       el Raval                2.8
1                                 el Barri Gòtic                2.5
2                                 la Barceloneta                2.2
3          Sant Pere, Santa Caterina i la Ribera                2.3
4                                  el Fort Pienc                2.5
..                                           ...                ...
68  Diagonal Mar i el Front Marítim del Poblenou                2.5
69                         el Besòs i el Maresme                2.8
70                       Provençals del Poblenou                2.5
71                      Sant Martí de Provençals                2.5
72                           la Verneda i la Pau                2.5

[73 rows x 2 columns]

In [156]:
tenants.to_csv("../datasets/Data_filtered/tenants.csv")